#
# Advanced Communication H-Type JTAG adapter (ACHJTAG)
#
# http://achjtag.li-pro.net/wiki
#
# This is the v1.0 ACHJTAG compatible config file. It relies on the
# existence of an EEPROM on ACHJTAG containing a name. If you have several
# ACHJTAG adapters connected you can use the serial number to select a
# specific device.
#
# If your ACHJTAG does not have an EEPROM, or the EEPROM is empty, use the
# achjtag-noeeprom.cfg file.
#

interface ft2232
ft2232_vid_pid 0x0403 0x6010
ft2232_device_desc "ACH-JTAG"
ft2232_layout "achjtag"
#ft2232_serial "AJ000001"
ft2232_latency 2
