#
# ACH-JTAG
#
# (URL here)
#
# This is the v1.0 ACH-JTAG compatible config file. It can be used
# for ACH-JTAG with empty or not populated EEPROM.
#
# If you have a ACH-JTAG WITH EEPROM that is programmed, use the
# achjtag.cfg file.
#

echo "WARNING!"
echo "This file was not tested with real interface, it is based on code in ft2232.c."
echo "Please report your experience with this file to openocd-devel mailing list,"
echo "so it could be marked as working or fixed."

interface ftdi
ftdi_vid_pid 0x0403 0x6010
ftdi_device_desc "Dual RS232-HS"

source [find interface/ftdi/achjtag-layout.cfg]
